/* ------Font ----------------- */


.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* share style  */

  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #F1F1F3;
  }
  
  .text-primary{
      color: #006A50;
  } 
  
  .btn-primary{
      background-color: #ffffff;
      color: #006A50;
      font-size: 15px;
      font-weight: 600px;
      padding: 15px 30px;
      border-radius: 8px;
      border: solid #006A50 1px;
      transition: background-color 0.3s, transform 0.3s;
  }

  
  .btn-primary:hover {
      background-color: #006A50;
      color: #ffffff;
  }

  .btn-secondary{
    background-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s, transform 0.5s;
    
}

.btn-secondary:hover {
    background-color: #0e4949;
    color: #ffffff;
    border: none;
}
  /* -------Nav style---------------- */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 200px;
      height: 100px;
  }
  
  .nav-title {
      font-weight: 800;
      font-size: 32px;
  }
  
  

  /*------------------ banner style------------------ */
  
  
  .banner {
       display: flex;
       margin: 0 200px;
       margin-left: auto;
       justify-content: space-between;
       background: #C6E4D6;
       width: 1280px;
       height: 560px;
       padding: 80px 100px;
       border-radius: 24px;
       margin: 0 200px;
  }

  .banner-title{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
  }
  .banner-con {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
    height: 326px;
    width: 622px;
  }

  .hero-img{
    width: 474px;
    height: 400px;
  }

  /* -----piller ----------  */

  .piller-container {
    margin: 80px 200px;
  }
  .piller-container>h1{
    font-weight: bold;
    font-size: 40px;
  }

  .pillercard {
    display: flex;
    gap: 24px;
    padding-top: 32px;
  }

.piller>img {
    margin-top: 24px;
    margin-left: 24px ;
}

.piller-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-left: 24px ;
}
.piller-description{
    color: #0E0E0E;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 24px ;
    margin-bottom: 24px;

}

.piller{
    background-color: #fff;
    border-radius: 16px;
    margin-top: 32px;
}


/*  vision part */

.vision-container {
    margin: 80px 200px;
}

.vision-card {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.vision-title {
    font-size: 40px;
    font-weight: bold;
}
.vision-description {
    font-size: 16px;
}

.visioncon-1 {
    padding: 32px 32px;
    background-color: rgba(57, 159, 243, 0.2);
    border-radius: 16px;
    width: 410px;
    height: 325px;
}

.visioncon-2 {
    padding: 32px 32px;
    background-color: rgba(90, 219, 159, 0.2);
    border-radius: 16px;
    width: 410px;
    height: 325px;
}
.visioncon-3 {
    padding: 32px 32px;
    background-color: rgba(216, 224, 101, 0.2);
    border-radius: 16px;
    width: 410px;
    height: 325px;
}


.vision-btn-1{
    background-color: #5490F5;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s, transform 0.5s;
    margin-top: 48px;
}
.vision-btn-1:hover{
    background-color: #035f94;
}
.vision-btn-2{
    background-color: #218114;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s, transform 0.5s;
    margin-top: 48px;
}
.vision-btn-2:hover{
    background-color: #0c5212;
}

.vision-btn-3{
    background-color: #8b8d10;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s, transform 0.5s;
    margin-top: 48px;
}
.vision-btn-3:hover{
    background-color: #4a5518;
}

.v-card-title{
    margin-top: 25px;
}

.dr-yunus {
    background-color: #fff;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-top: 32px;
    border-radius: 16px;
    padding: 48px 24px;
}

.yunus-p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
}
.yunus-title {
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 12px;
}


/* news -------------------------------- */

.news-container {
    margin: 80px 200px;
}
.news-container> h1{
    font-size: 40px;
    font-weight: bold;
}
.news-container>p{
    line-height: 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.news-con {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #fff;
    border-radius: 24px;
}
.time{
    display: flex;
    gap: 12px;
}

.news-btn {
    background-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s, transform 0.5s;
    margin-top: 32px;
}

.news-btn:hover {
    background-color: #074233;
}
.satelite {
    border-radius: 24px;
}


/* ====== amount ================ */

.donation-container > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.donation-container > p{
    text-align: center;
}

.donation-container {
    margin: 80px 200px;
    justify-content: center;
    align-items: center;
}

.ammount{
    display: flex;
    margin-top: 32px;
    gap: 24px;
    justify-content: center;
}

.amount-btn {
    background-color: #ffffff;
    width: 240px;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    transition: background-color 0.5s, transform 0.5s;
}

.amount-btn:hover{
    background-color: #C6E4D6;
}


.amount-input {
    width: 1223px;
    height: 64px;
    text-align: center;
    border: none;
    margin-top: 32px;
}

.donation{
    display: flex;
}
.taka-input {
    display: flex;
    justify-content: center;
}

.btn-taka {
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s, transform 0.5s;
    margin-top: 32px;
    padding: 17px 34px;
    font-size: 18px;
}
.btn-taka:hover{
    background-color: #184439;
}

.taka-btn{
    display: flex;
    justify-content: center;
}


/* last part  */

.subscribe-part{
    margin: 80px 200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C6E4D6;
    height: 395px;
    width: 1280px;
    padding: 80px 100px;
    border-radius: 24px;
}
.subscribe-part>h1 {
    font-weight: bold;
    font-size: 40px;
    
}
.subscribe-part>p {
    font-size: 16px;
}
.subscribe-email-btn {
    width: 600px;
    height: 55px;
    padding-left: 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.subscribe-btn-n {
    width: 150px;
    height: 55px;
    margin-left: 0px;
    padding-left: 0px;
    border: none;
    background-color: #006A50;
    color: #fff;
    border-radius: 0px 8px 8px 0px;
}
.subscribe-btn{
    display: flex;
    margin-top: 24px;
}




footer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}